In [1]:
#program to print the numbers between 2000 and 3200 ,which are multiples of 7,but not the multiples of 5
start=2000
stop=3200
a_list=[]
for i in range(start,stop+1):
    if ((i % 7 == 0) and (i % 5 != 0)): 
        a_list.append(i )    
print(a_list)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [7]:
# program to reverse the first and lastname

firstname=input("enter your first name")
lastname=input("enter your last name")
d=firstname + " " + lastname
print(d[::-1])

enter your first nameSwathi
enter your last nameSekar
rakeS  ihtawS

In [4]:
#Program to print the volume of the sphere
dia=12
pi=3.14
print("Program to print volume of sphere")
vol=((4//3)*pi*((dia//2)**3))
print("The volume of sphere is ",vol)

Program to print volume of sphere
The volume of sphere is  678.24

In [4]:
#Program to get a word and print its reverse
a=input("enter a  word")
print(a[::-1])

enter a  wordAcadGild
dliGdacA

In [6]:
#Program to get comma seperated numbers and making them within a list
a=input("enter some numbers seperated by comma")
b=str(a)
c=b.split(',')
l=[]
for i in c:
    l.append(int(i))
print(l)

enter some numbers seperated by comma23,45,67,890
[23, 45, 67, 890]

In [6]:
#Program to print string in various formats
a="WE,THE PEOPLE OF INDIA,having solemnly resolved to constitute India into a SOVEREIGN,! SOCIALIST,SECULAR,DEMOCRACTIC REPUBLIC and to secure to all its citizens"

print(a[:23])
print("       ",a[23:86])
print("            ",a[86:126])
print("              ",a[126:])

WE,THE PEOPLE OF INDIA,
        having solemnly resolved to constitute India into a SOVEREIGN,!
              SOCIALIST,SECULAR,DEMOCRACTIC REPUBLIC
               and to secure to all its citizens

In [7]:
#Program to print a pattern
for i in range(0,5):
    for j in range(0,i+1):
        print( "*", end=" ")
    print()

for i in range(0,5):   
    for k in range(4,i,-1):
        print( "*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*